  #principal {
    margin-top: 150px;
    display: flex;
    justify-content: space-around; /* Puedes ajustar esto según tus necesidades */
  }
  
  .floor-box {
    display: flex;
  }

  .hall-column{
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .long-column {
    display: flex;
  }
  
  .column {
    display: flex;
    flex-direction: column;
  }

  .short-column {
    display: flex;
  }

  #info-travel{
    display: flex;
    align-items: center;
  }

  .show-chair{
    margin-right: 20px;
  }
  
  #show-types-chair {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Espacio entre cada conjunto de imagen y h3 */
  }
  
  .image-chair {
    height: 30px;
    width: 30px;
    margin: 5px; /* Ajusta el margen según sea necesario */
    box-sizing: border-box; /* Incluye el margen en el tamaño total del elemento */
  }