<div class="table-container">

    <table>
        <thead>
          <tr>
            <th>Nro de unidad</th>
            <th>Tipo de atención</th>
            <th>Categoría</th>
            <th>Pisos</th>
            <th>Situación</th>
            <th>Costo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let buses of listaBuses">
            <td>{{ buses.NroUnidad }}</td>
            <td>{{ buses.TipoAtencion }}</td>
            <td>{{ buses.Categoria }}</td>
            <td>{{ buses.Pisos }}</td>
            <td>{{ buses.Situacion }}</td>
            <td>{{ buses.CostoTransporte }}</td>
            <td>
              <button class="boton-buses borrar" (click)="borrarBuses(buses)">Borrar</button>
              <button class="boton-buses comprar" (click)="hacerAlgoOtro(buses)">Administrar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>