  #principal-frame{
    margin-top: 150px;
  }
  
  #destination-box {
    text-align: center;
  }
  
  #every-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 115px;
  }
  
  .card {
    background-color: #F5DEB3; /* Color ocre */
    border: 1px solid #DAA520; /* Color dorado */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 90%;
    text-align: left;
  }
  
  .card img {
    border-radius: 10px;
    width: 15%;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.8);
  }
  
  .Titles_Destination_Card {
    margin-top: 10px;
    font-size: 26px;
    color: #000; /* Color negro */
  }

  .text-info-destination{
    margin-left: 2%;
  }