<section>
    <div id="principal-bar">
        <h1 (click)="redirect()">VIAJAPLUS</h1>
        <H2>El lugar que te lleva a todos los lugares</H2>
        <nav>
            <ul>
                <li>
                    <a href="about-us">Sobre nosotros</a>
                </li>
                <li>
                    <a href="contact-us">Contactanos</a>
                </li>
                <li>
                    <a href="reservation">Reservas</a>
                </li>
                <li>
                    <a href="itinerario">Itinerarios</a>
                </li>
                <li>
                    <a href="list-buses">Transportes</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<router-outlet></router-outlet>
