<div class="table-container">

    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Hora Partida</th>
            <th>Hora Llegada</th>
            <th>Ciudad Origen</th>
            <th>Ciudad Destino</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itinerario of listaItinerarios">
            <td>{{ itinerario.IDItinerario }}</td>
            <td>{{ itinerario.FechaPartida }}</td>
            <td>{{ itinerario.FechaLlegada }}</td>
            <td>{{ itinerario.NombreOrigen }}</td>
            <td>{{ itinerario.NombreDestino }}</td>
            <td>
              <button class="boton-itinerario borrar" (click)="borrarItinerario(itinerario)">Borrar</button>
              <!-- <button class="boton-itinerario comprar" (click)="hacerAlgoOtro(itinerario)">Comprar</button> -->
            </td>
          </tr>
        </tbody>
      </table>
</div>
