<section class="ViajaPlus">
    <div id="principal-frame">
      <div id="first-block">
        <div id="search-box">
         
          <div id="text-input-box">
            <label>Origen</label>
            <input #originInput [formControl]="originCityControl" type="text" name="origin">
            <!-- <div  *ngIf="!originSelected"> -->
              <select *ngIf="filteredOriginCities | async as originCities" [(ngModel)]="origin" (ngModelChange)="assignOriginValueToInput()">
                <option *ngFor="let city of originCities" [ngValue]="city">{{ city.Nombre }}</option>
              </select>
            <!-- </div> -->
            <label>Destino</label>
            <input #destinationInput [formControl]="destinationCityControl" type="text" name="destination">
            <!-- <div *ngIf="!destinationSelected"> -->
              <select *ngIf="filteredDestinationCities | async as destinationCities" [(ngModel)]="destination" (ngModelChange)="assignDestinationValueToInput()">
                <option *ngFor="let city of destinationCities" [ngValue]="city" >{{ city.Nombre }}</option>
              </select>
            <!-- </div> -->
            <!-- <div id="radio-btn">
              <input type="radio" name="round-trip" [(ngModel)]="radioOp1" (change)="handleRadioChange('op1')" [checked]="dateBackDisabled">
              <label>ida</label>
              <input type="radio" name="round-trip" [(ngModel)]="radioOp2" (change)="handleRadioChange('op2')" [checked]="!dateBackDisabled">
              <label>ida y vuelta</label>
            </div> -->
          </div>
          
          <div id="others-input-box">
            <label>Fecha de partida</label>
            <input type="date" name="date_leaving" [(ngModel)]="departureDate" [min]="today">
            <!-- <label>Fecha de regreso</label>
            <input type="date" name="date_back" [(ngModel)]="backDate" [disabled]="dateBackDisabled"> -->
            <label>Cantidad de pasajeros</label>
            <select [(ngModel)]="passengers">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
          <button id="search_date_travel_btn" class="search_btn" (click)="SearchTravel()">Buscar</button>
          <!-- <app-travel-find [messageGet]="messageToSend"></app-travel-find> -->
        </div>
  
        <div id="way-to-pay-box">
          <h2>Formas de pago</h2>
          <label>VISA</label> 
          <label>MASTERCARD</label>
        </div>
      </div>
  
      <div id="destination-box">
        <h2 id="title-destination">Destinos</h2>
        <!--Aquí han de ir las tarjetas con fotos de los lugares turísticos-->
  
        <div id='every-card'>
          <div *ngFor="let title of title_destination" class='card'>
            <a href="destination" class="reference-destintion">
              <img src='{{ url_img[title_destination.indexOf(title)] }}'>
              <h2 class='Titles_Destination_Card'>{{ title }}</h2>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
