<section>
    <div id="principal">
        <div id="phone-number" class="info-contact">
            <h2>Números de teléfono</h2>
            <label>3624111111</label>
            <label>3624222222</label>
            <p>Disponibles desde 7:00 am hasta 18:00 pm</p>
        </div>
        <hr />
        <div id="email-address" class="info-contact">
            <h2>Correo electrónico</h2>
            <label >viajaplus&#64;contacto.com</label>
            <p>Disponibles desde 7:00 am hasta 20:00 pm</p>
        </div>
    </div>
</section>
