    section{
        margin-top: 150px;
    }

    #upload-information{
        background-color: #F5DEB3;
        border: 2px solid #DAA520;
        border-radius: 10px;
        text-align: center;
        margin-left: 40%;
        width: 20%;
        height: 300px;
    }

    input{
        border-radius: 5px;
    }

    button{
        background-color: #FFD700;
        color: #000000;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        align-self: flex-end;
        margin-left: 0px;
        margin-top: 10px;
    }

    button:hover {
        background-color: #8B4513; /* Cambio de color al pasar el ratón */
        color: #ffffff;
    }