<section>
    <div>
        <h2>¿Quienes somos?</h2>
        <p>
        Somos una empresa que busca extender tus horizontes a todos los lugares que nos sean posibles, haciendo de medio entre vos 
        y tus lugares deseados. Nos encargamos de tener siempre nuestros transportes en el mejor estado posible y con el mejor 
        servicio para tu comodidad.
        </p>
        <p>
        Viajaplus es una empresa con más de 10 años de experiencia en la venta de pasajes de bus ofreciendo más de 2.000 destinos
        en Argentina, Bolivia, Brasil, Chile, Paraguay, Perú y Uruguay.
        </p>
        <p>
        Mediante acuerdos con las empresas de transporte de media y larga distancia, concentramos toda la oferta de pasajes, a través 
        de un acceso fácil y permanente.
        En Central de Pasajes se pueden comprar pasajes de forma presencial, a través de una red de 1.000 puntos de venta distribuidos
        en todo el país, o por Internet, mediante nuestro sitio web, accediendo a una experiencia simple y cómoda.
        </p>
        <p>
        Nuestro trabajo diario tiene como horizonte ser el referente regional en la comercialización de pasajes de bus, basándonos 
        en el compromiso de generar experiencias de compra positivas para los usuarios, ofreciendo la oferta de servicios y destinos 
        más completa, con la más amplia propuesta de beneficios adicionales.
        </p>
    </div>
</section>
